{{ define "header.html" }}
<header>
    <h1 class="site-title"><a href="/">{{ .Site.Title }}</a>{{ if .Site.Subtitle }}<span class="site-subtitle">{{ .Site.Subtitle }}</span>{{ end }}</h1>
</header>

<div class="mainContent">
    <nav id="side-bar">
        <ul>
            {{ template "menu" .Submenu }}
        </ul>
    </nav>
{{ end }}

{{ define "menu" }}
{{ range . }}
<li><a href="{{ .Url }}">&rsaquo; {{ .Name }}</a>{{ if .Children }}<ul>{{ template "menu" .Children }}</ul>{{ end }}</li>
{{ end }}
{{ end }}
